body {
    background: linear-gradient(180deg, #00695c, #00bfa5);
    min-height: 100vh;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #00695c;
}

.navbar .nav-link {
    color: #333;
    transition: color 0.3s;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #00bfa5;
}

.navbar .btn {
    background-color: #00bfa5;
    color: white;
    border: none;
}

.navbar .btn:hover {
    background-color: #009e88;
}

section .bg-white {
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


h5 {
    color: #004d40;
}


.btn-outline-success {
    border-color: #00bfa5;
    color: #00bfa5;
}

.btn-outline-success:hover {
    background-color: #00bfa5;
    color: white;
}

.text-success {
    color: #00bfa5 !important;
}

.text-danger {
    color: #d50000 !important;
}


.border-top {
    border-color: #ddd !important;
}